page-list-table-order {
    .table-number{
        color: #000000;
    }
    input{
        border: #fff;
        color: #666;
        font-size: 1.5rem;
        }
    .saerch-bottom{
        margin: auto;
    width: 100%;
    color: #003147;
    background-color:#fbb713 ;
    }
    .text-input-md{
        color: #000000;
    }
    .no-orders{
        font-size: 3rem;
        text-align: center;
        margin-top: 30%;
        color: #003147;
    }

}
