<ion-header>
  
    <ngsc-header [name]='name'></ngsc-header>
  
  </ion-header>


<ion-content padding>
  <div *ngIf="NoOrdersFlag && !Ready">
    <div class="no-orders">{{NoOrderMssg}}</div>
  </div>


  <div *ngIf="!NoOrdersFlag && Ready" style="height: 90%;">
      <ion-scroll scrollY="true" style="height: 100%;">
          <ion-list>
              <ion-item *ngFor="let item of orders;">

                  <ion-row>
                      <ion-col><p>Order ID : {{item.id}}</p></ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col><p>Table Number : {{item.tableNo}}</p></ion-col>
                      </ion-row>
                <ion-row>
                  <ion-col><p>{{item.name}}</p></ion-col>
                </ion-row>
                <ion-row>
                  <ion-col><p> Quantity : {{item.qty}}</p></ion-col>
                </ion-row>
                <ion-row>
                  <input type="text" value="item.desc" [(ngModel)]="item.desc">
                </ion-row>
                <ion-row>
                    <ion-col>
                      <div *ngIf="item.status" style="color :#3A16BE ;">Finished</div>
                      <div *ngIf="!item.status" style="color :#CC2929;">Pending</div>
                    </ion-col>
                    <ion-col>
                       <button ion-button  class="saerch-bottom" block (tap)="updateOrder(item)">update</button>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col> <button ion-button  class="deliver-bottom" block (tap)="deliverOrder(item)">Delevired</button></ion-col>
                  </ion-row>
              </ion-item>
          </ion-list>
      </ion-scroll>
  </div>

</ion-content>
